.chat-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.inner-chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;    
}

.chat-content {
  border-radius: 10px;
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.13);
  background-color: #fff;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}