.conversation-container {
  flex: 1;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;    
  display: flex;
  flex-direction: column;
}

.message-container {
  padding: 0 10px;
  flex: 1;
  overflow: scroll;
}

.text-box-container {
  min-height: 55px;
  max-height: 200px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

.text-box {
  outline: none;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  max-height: 190px;
  width: 100%;
  height: 100%;
  line-height: 1.33;
  resize: none;
  overflow: auto;
  border: 0;
  font-size: 16px;
  transition: background-color ease 200ms,box-shadow ease 200ms,-webkit-box-shadow ease 200ms;
}

.text-actions-container {
  width: 20%;
  display: flex;
  justify-content: center
}

.send-icon {
  color: #9a9797a6;
}

.send-icon:hover {
  color: hsl(344, 90%, 61%);
}

.message-container {
  box-sizing: border-box;
  margin-top: 10px;
}

.message-inbound-container {
  margin-left: auto;
}

.message {
  background-color: hsl(344, 90%, 61%);
  border-radius: 20px;
  max-width: 100%;
  padding: .5rem .75rem;
  white-space: pre-wrap;
  border-radius: 5px;
  word-wrap: break-word;
  float: right;
  display: inline-block;
}

.message-inbound {
  background-color: #f8f8f8;
  float: left;
}
